<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>jsp</display-name>

	<!-- error-page : 예외(Exception) 또는 에러코드 대신 응답될 에러페이지를 설정하기 위한 엘리먼트 -->
	<!-- exception-type : 예외 클래스를 설정하기 위한 엘리먼트 -->
	<!-- => 웹프로그램 실행시 해당 예외가 발생될 경우 에러페이지로 응답하기 위해 설정 -->
	<!-- location : 에러코드 대신 응답될 웹문서의 URL 주소를 설정하기 위한 엘리먼트 -->
	<!-- <error-page> <exception-type>java.lang.NullPointerException</exception-type> 
		<location>/error/error_null.jsp</location> </error-page> -->

	<!-- error-code : 에러코드를 설정하기 위한 엘리먼트 -->
	<error-page>
		<error-code>500</error-code>
		<location>/error/error_500.jsp</location>
	</error-page>

	<error-page>
		<error-code>400</error-code>
		<location>/error/error_400.jsp</location>
	</error-page>

	<error-page>
		<error-code>404</error-code>
		<location>/error/error_404.jsp</location>
	</error-page>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>default.htm</welcome-file>
	</welcome-file-list>
</web-app>