<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.itwill.mapper.SecurityUsersMapper">
	<insert id="insertSecurityUsers">
		insert into security_users values(#{userid}, #{passwd}, #{name}, #{email}, #{enabled})
	</insert>
	
	<insert id="insertSecurityAuth">
		insert into security_auth values(#{userid}, #{auth})
	</insert>
	
	<resultMap type="SecurityUsers" id="securityUsersResultMap">
		<id column="userid" property="userid"/>
		<result column="passwd" property="passwd"/>
		<result column="name" property="name"/>
		<result column="email" property="email"/>
		<result column="enabled" property="enabled"/>
		<collection property="securityAuthList" ofType="SecurityAuth">
			<result column="userid" property="userid"/>
			<result column="auth" property="auth"/>
		</collection>
	</resultMap>
	
	<select id="selectSecurityUsersByUserid" resultMap="securityUsersResultMap">
		select users.userid, passwd, name, email, enabled, auth from security_users users
			left join security_auth auth on users.userid=auth.userid where users.userid=#{userid}
	</select>
</mapper>